@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Overpass:600');

body{
    background-color: #4C5D73;
    color: rgb(168, 167, 167);
    font-size: 100%;
    font-family: 'Overpass', sans-serif;
}

.custNav {
    background-color: #011826;
}

#sidebar-wrapper {
    background-color: #011826;
}

.jumbotron {
    background: url("bannerTLC.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 545px;
    -webkit-filter: contrast(200%); /* Safari */
    filter: contrast(200%);
  }

.container {
    padding: 15% 0 15% 0;
    width: 25%;
}

.container > h1 {
    font-size: 5em;
    text-shadow: 5px 3px 5px rgb(29, 28, 28);
    text-align: center;
}


hr{
    width: 25%;
    height: 2px;
    background-color: rgb(168, 167, 167);
}